
html, body{
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

section{
  padding: 50px 0;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}


/* Overview Section */

.overview-wrapper{
  background: #0A4F79;
  position: relative;
}

.overview-absolute{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overview-main{
  background: #0c86a0;
  padding: 1em;
}

.border-partial {
  height: 400px;
  position: relative;
  border-bottom: 5px solid #0f6fac;  
  border-top: 5px solid #0f6fac;  
  border-left: 5px solid #0f6fac;  
}
.border-partial-right-top {
  border-left: 8px solid #0f6fac;
  position: absolute;
  top: 0;
  right:0;
  bottom: 85%;
}
.border-partial-right-bottom {
  border-left: 8px solid #0f6fac;
  position: absolute;
  top: 85%;
  right:0;
  bottom: 0;
}


/* Configurations Section */

.configurations-section{
  background: #3b7294;
}



/* Projects Section */

.project-card{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  margin-top: 20px;
}

.circle{
  display: flex;
  width: 70px;
  height: 70px;
  margin: 50px auto 0;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
}
.circle:hover{
  border: 3px solid #000;
}
.circle{
     border-radius: 100%;
     border: 3px solid #fff;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
}

.circle:hover{
       -webkit-border-radius: 10px 10px 10px 10px;
}

.project-item-title{
  font-size: 14px;
  text-align: center;
}

/* Address */

.address{
  background: #222222;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

/* footer */

footer{
  padding: 50px 0;
  color: #fff;
  background: #0c86a0;
}

footer p{
  font-size: 13px;
}

