@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
html, body{
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

section{
  padding: 100px 0;
}

.section-header{
  font-size: 45px;
  line-height: 45px;
  font-family: Cinzel;
  text-transform: uppercase;
  color: #0A4F79;
  font-weight: 500;
}

hr{
  width:100px; 
  margin: auto;
  margin-top: 20px;
  height: 1px;
}

.blue-hr{
  background: #0A4F79;
}

.white-hr{
  background: #fff;
}

/* Overview Section */

.overview-wrapper{
  background: #0A4F79;
  position: relative;
}

.overview-absolute{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overview-main{
  background: #0c86a0;
  padding: 1em;
}

.overview-title{
  font-family: Cinzel;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.border-partial {
  height: 400px;
  position: relative;
  border-bottom: 5px solid #0f6fac;  
  border-top: 5px solid #0f6fac;  
  border-left: 5px solid #0f6fac;  
}
.border-partial-right-top {
  border-left: 7px solid #0f6fac;
  position: absolute;
  top: 0;
  right:0;
  bottom: 90%;
}
.border-partial-right-bottom {
  border-left: 7px solid #0f6fac;
  position: absolute;
  top: 90%;
  right:0;
  bottom: 0;
}


/* Configurations Section */

.configurations-section{
  background: #3b7294;
}



/* Projects Section */

.project-card{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  margin-top: 50px;
  padding: 2em 0;
  transition: 0.5s;
}

.project-card:hover{
  margin-top: 30px;
}

.circle{
  display: flex;
  width: 90px;
  height: 90px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
}
.circle:hover{
  border: 3px solid #000;
}
.circle{
     border-radius: 100%;
     border: 3px solid #fff;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
}

.circle:hover{
       -webkit-border-radius: 10px 10px 10px 10px;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: rgba(70, 155, 235, 0.6);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 30%;
}

.project-item-title{
  font-size: 14px;
  text-align: center;
  color: #000;
  font-weight: 400;
  margin-top: 20px !important;
}

/* Map */

.map-para{
  color: #707070;
}

i{
  color: #0A4F79;
}

/* Address */

.address{
  background: #222222;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

/* footer */

footer{
  padding: 50px 0;
  color: #fff;
  background: #0c86a0;
}

footer p{
  font-size: 13px;
}

